@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
:root{
  --blue5: #031326;
  --blue4: #071A40;
  --blue3: #076873;
  --blue2: #038C7F;
  --blue1: #04D9C4;
  --white: #cecece;
  --black: #222222;

  --slaboFont: 'Slabo 27px', serif;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  background-color: var(--black);
}