footer{
  background-image: url(../Img/back3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
  padding: 30px;
  margin-top: 20px;
  box-shadow: 1px 1px 20px var(--blue1);
}
footer .footer__divParent-1{
  display: grid;
  grid-template-columns: 25% 45% 30%;
  margin-bottom: 10px;
}
footer .footer__divParent-1 .divParent1__info p{
  font-size: 17px;
  font-family: serif;
  font-weight: bold;
  user-select: none;
}
footer .footer__divParent-1 .divParent1__info ul{
  text-decoration: none;
  list-style: none;
  padding: 0;
}
footer .footer__divParent-1 .divParent1__info ul li{
  width: max-content;
  user-select: none;
}
footer .footer__divParent-1 .divParent1__info ul li a{
  text-decoration: none;
  color: var(--white);
  font-size: 15px;
  font-family: serif;
  font-weight: 500;
  transition: .3s ease-in-out;
  position: relative;
}
footer .footer__divParent-1 .divParent1__info ul li:hover a{
  color: var(--blue1);
  left: 5%;
  text-decoration: underline;
}
/* CONTACT */
footer .footer__divParent-1 .divParent1__contact{
  position: relative; 
}
footer .footer__divParent-1 .divParent1__contact::after{
  position: absolute; 
  content: "";
  width: 3px;
  height: 80%;
  background-color: rgb(255 255 255 / 50%);
  border-radius: 4px;
  top: 0;
  left: 90%;
}
footer .footer__divParent-1 .divParent1__contact h3{
  font-size: 17px;
  font-family: serif;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
}
footer .footer__divParent-1 .divParent1__contact p{
  max-width: 50%;
  font-family: serif;
  font-size: 16px;
  font-weight: bolder;
}
footer .footer__divParent-1 .divParent1__contact .divParent1__container-nets{
  display: flex;
  align-items: center;
  padding: 5px 0;
}
footer .footer__divParent-1 .divParent1__contact .divParent1__container-nets .divParent1__email{
  position: relative;
  background-color: var(--black);
  outline: none;
  padding: 4px;
  border-radius: 5px;
  margin-right: 15px;
}
footer .footer__divParent-1 .divParent1__contact .divParent1__container-nets .divParent1__email a{
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  font-family: serif;
  font-weight: bolder;
  display: flex;
  align-items: center;
}
footer .footer__divParent-1 .divParent1__contact .divParent1__container-nets .divParent1__email a span{
  margin-right: 4px;
}
/* SOCIAL NETS */
footer .footer__divParent-1 .divParent1__contact .divParent1__container-nets .nets__container-relative{
  position: relative;
  background-color: var(--black);
  color: var(--white);
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  box-shadow: 1px 1px 20px var(--blue1);
  cursor: pointer;
  overflow: visible;
}
footer .footer__divParent-1 .divParent1__contact .divParent1__container-nets .nets__container-relative .footer__nets{
  background-color: var(--white);
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.divParent1__container-nets .nets__container-relative .footer__nets a{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
}
.fn1{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  transition: .3s ease-in;
}
.fn2{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  transition: .4s ease-in;
}
.fn3{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  transition: .5s ease-in;
}
.fn4{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  transition: .6s ease-in;
}
.fn5{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: .7s ease-in;
}
.divParent1__container-nets .nets__container-relative:hover .fn1{
  top: 0;
  left: 40px;
  z-index: 14;
}
.divParent1__container-nets .nets__container-relative:hover .fn2{
  top: 0;
  left: 80px;
  z-index: 13;
}
.divParent1__container-nets .nets__container-relative:hover .fn3{
  top: 0;
  left: 120px;
  z-index: 12;
}
.divParent1__container-nets .nets__container-relative:hover .fn4{
  top: 0;
  left: 160px;
  z-index: 11;
}
.divParent1__container-nets .nets__container-relative:hover .fn5{
  top: 0;
  left: 200px;
  z-index: 10;
}
/* SUSCRIBE */
footer .footer__divParent-1 .divParent1__suscribe p{
  max-width: 50%;
  font-family: serif;
  font-weight: bolder;
  font-size: 16px;
}
footer .footer__divParent-1 .divParent1__suscribe form{
  display: flex;
  flex-direction: column;
}
footer .footer__divParent-1 .divParent1__suscribe form .text{
  background: none;
  color: var(--white);
  font-family: serif;
  font-weight: 600;
  padding: 2px 3px;
  margin-bottom: 7px;
  border-radius: 2px;
  border: 2px solid var(--white);
  outline: none;
  transition: .3s;
}
footer .footer__divParent-1 .divParent1__suscribe form .text:focus{
  background-color: var(--blue4);
}
footer .footer__divParent-1 .divParent1__suscribe form .submitbtn{
  background: linear-gradient(150deg, #9500ff, #09f, #00ddff);
  border-radius: 10px;
  display: flex;
  color: var(--white);
  font-size: 17px;
  font-family: serif;
  font-weight: bolder;
  padding: 4px;
  cursor: pointer;
  transition: .3s;
  width: max-content;
}
footer .footer__divParent-1 .divParent1__suscribe form .submitbtn span{
  background-color: var(--black);
  padding: 4px 8px;
  border-radius: 10px; 
  transition: .5s;
}
footer .footer__divParent-1 .divParent1__suscribe form .submitbtn:hover span{
  background-color: transparent;
  color: var(--black);
}
footer .footer__divParent-1 .divParent1__suscribe form .submitbtn:active{
  transform: scale(0.9);
}

/* COPYRIGHT ZONE */
footer .footer__divParent-2 p{
  text-align: center;
  margin: 0;
  font-size: 14px;
  user-select: none;
}