.modal-content {
  background-color: var(--black) !important;
  color: var(--white) !important;
  border-radius: 10px;
  outline: 0;
}
.modal-header{
  background-color: var(--white);
  color: var(--black);
  font-size: 15px;
  font-family: serif;
  font-weight: bolder;
}
.modal-body{
  display: flex;
}
.modal-body .modal__img{
  width: 280px;
  height: 300px;
  margin-right: 15px;
}
.modal-body .modal__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}
.modal-body .modal__info .modal__info-precio{
  font-family: serif;
  font-size: 18px;
  font-weight: bold;
}
.modal-body .modal__info .modal__info-precio .modal__offer-old{
  text-decoration: line-through;
  color: rgb(255 255 255 / 40%);
  margin: 0;
}
.modal-body .modal__info .modal__info-stock--green{
  display: flex;
  align-items: center;
  font-size: 17px;
  font-family: serif;
  font-weight: bold;
  color: rgb(0 255 0);
}
.modal-body .modal__info .modal__info-stock--green::before{
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(0 255 0);
  margin-right: 4px;
}
.modal-body .modal__info .modal__info-stock--red{
  display: flex;
  align-items: center;
  font-size: 17px;
  font-family: serif;
  font-weight: bold;
  color: rgb(240, 58, 194);
}
.modal-body .modal__info .modal__info-stock--red::before{
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(240 58 194);
  margin-right: 4px;
}

.modal-body .modal__info .modal__info-cantidad{
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-body .modal__info .modal__info-cantidad button{
  background-color: var(--blue1);
  color: var(--blue5);
  font-size: 20px;
  font-weight: bold;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  outline: none;
  border: none;
  transition: .3s;
}
.modal-body .modal__info .modal__info-cantidad button:active{
  transform: scale3d(.8,.8,.8);
}
.modal-body .modal__info .modal__info-cantidad span{
  background: none;
  color: var(--white);
  font-size: 18px;
  font-weight: bold;
  font-family: serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 25px;
  border-top: 1px solid var(--blue1);
  border-bottom: 1px solid var(--blue1);
}
.modal-footer button{
  background: none;
  color: var(--white);
  font-family: serif;
  font-weight: bolder;
  padding: 5px 7px;
  outline: none;
  border: 2px solid var(--white);
  transition: .4s ease-in-out;
}
.modal-footer button:active{
  transform: scale3d(.7,.8,.8);
}
.modal-footer button{
  position: relative;
}
.modal-footer button::before{
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: var(--black);
  top: -2px;
  left: 75%;
  transition: .4s ease-in-out;
}
.modal-footer button::after{
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: var(--black);
  top: 100%;
  left: 15%;
  transition: .4s ease-in-out;
}
.modal-footer button:hover{
  box-shadow: 2px 2px 20px var(--blue1);
}
.modal-footer button:hover::before{
  left: 15%;
}
.modal-footer button:hover::after{
  left: 75%;
}