.header{
  background-color: var(--blue4);
  color: var(--white);
  padding: 20px;
  font-family: var(--slaboFont);
  max-width: 100%;
}
/* Header Top */
.header__top{
  display: flex;
  align-items: center;
}
.top__img{
  font-size: 23px;
  align-items: center;
  margin-right: 5px;
}
.top__info span{
  font-weight: bold;
}
/* Header Medium */
.header__mid{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 10px; */
}
.container__logo{
  max-width: 50px;
  max-height: 50px;
  overflow: hidden;
  border-radius: 10px;
}
.container__logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container__serch input{
  padding: 10px;
  outline: none;
  border: 1px solid var(--blue1);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: none;
  color: var(--white);
  font-family: serif;
  font-weight: bolder;
  width: 250px;
}
.container__serch input::placeholder{
  color: var(--blue1);
}
.container__serch button{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  background-color: var(--blue1);
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
  transition: .6s ease-in-out;
}
.container__serch button:hover{
  background-color: var(--black);
  color: var(--blue1);
}
.container__login{
  display: flex;
  align-items: center;
}
.container__login .icon{
  display: flex;
  align-items: center;
  font-size: 23px;
}
.container__login .btn button{
  background: transparent;
  color: var(--white);
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}
/* Header Bottom */
.header__bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.authenticated{
  display: flex;
  align-items: center;
  text-align: center;
}
.icon img{
  object-fit: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.info{
  margin-left: 3px;
}
.info h2{
  margin: auto;
  font-size: 15px;
  font-weight: bold;
  user-select: none;
}
.userNone{
  font-size: 30px;
}
.nav__container ul{
  display: flex;
  text-decoration: none;
  list-style: none;
}
.link{
  text-decoration: none;
  color: var(--blue1);
  padding: 2px 5px;
  margin: 0 5px;
  border-radius: 5px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}
.link::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--blue1);
  transition: .5s ease-in-out;
}
.link::after{
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--blue1);
  transition: .5s ease-in-out;
}
.link:hover::before,
.link:hover::after{
  width: 100%;
}