.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination button{
  background: none;
  color: var(--white);
  font-size: 30px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s ease;
}
.pagination button:active{
  color: var(--blue1);
}
.pagination input{
  background-color: var(--white);
  color: var(--blue5);
  font-weight: bolder;
  text-align: center;
  border-radius: 10px;
  outline: none;
}
.pagination input::-webkit-inner-spin-button{
  display: none;
}
.pagination .pagination__p{
  margin: 0;
  color: var(--white);
  font-size: 15px;
  font-family: serif;
  font-weight: bolder;
  margin: 0 3px;
}